$main-font: 'DM Sans', sans-serif;
$logo-font: 'Titan One', sans-serif;
$primary-text-color: #907e82;
$accent-color: #d41443;
$subtitle-color: #ffa5ba;
$primary-white-color: #ffffff;
$hero-bg-color: #ffb8ca;
$first-hover-color: #ecebeb;
$second-hover-color: #c7133e;
$box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
