<section class="products">
  <div class="container">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__title products__title">products</h2>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="more more__products" href="">
          <svg class="more__icon" aria-label="Link to ice cream">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="more more__products" href="">
          <svg class="more__icon" aria-label="Link to ice coffee">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="products__item">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="more more__products" href="">
          <svg class="more__icon" aria-label="Link to milkshakes">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
